/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    /* --fixed-width: 620px; */
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}
/* Nav */
.navbar-nav a {
    color: black !important;
}
.btn-primary{
    background-color: #FE442D;
    border-color: #FE442D;
}
.navbar-nav a:active {
    color:#30C9E9;
}

.navbar-nav a:hover {
    background: #30C9E9;
    color: white !important;
    border-radius: 20px;
    width: 120px;
    text-align: center;
}

a {
    text-decoration: none;
}
.fixed-top {
    background-color: white;
    color: #eeeeee;
    margin-top: 0px;
}

.social {
    margin-left: 3em;
}

.social a:hover {
    background:#30C9E9 !important;
    color: white;
}

/*  Hero page  */
.main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F8F8FA;
}


.carousel-item {
    width: 100%;
    height: 650px;
    position: relative !important;
}
.main img {
    width: 100%;
}

.blue-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    margin-bottom: 200px;
}
.carousel-caption h1 {
    font-size: 3.2rem;
    color: white;
}


.globe {
    background: #FE442D;
    color: white;
    width: 25rem;
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 5px;
    margin-top: 0px;
}

.services {
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.security {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sec-logo {
    width: 18%;
    height: 85px;
}

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    .carousel-item {
        width: 100%;
        height: 240px;
        position: relative !important;
    }

    .carousel-caption h1 {
        font-size: 2rem;
        color: white;
    }
    .d-md-block{
        display: block !important;
    }

    .what-we-do h1 {
        border-bottom-style: ridge;
    }
    .what-we-do p {
        text-align: justify;
    }

    .service-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .service-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }

    .heading {
        border-bottom-style: ridge;
    }
}

/*  Our offer (Packages) */

.services {
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.security {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sec-logo {
    width: 18%;
    height: 85px;
}

/* what we do  */
.what-we-do {
    border-radius: 1em;
}
.do{
    color:#FE442D ;
}
.service-container {
    border: 1px solid#30C9E9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    height: 260px;
    background-color: #FFFFFF;

}


.p-1{
    margin-top: 1em;
}

.service-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center{
    margin: 0 auto;
    width: 60px;
}


/*  Our offer (Packages) */
.heading {
    text-align: center;
}
.heading h6 {
    color: #30C9E9;
}
.section {
    padding-top: 1em;
}
.special-bg {
    background-color: #30C9E9;

 
    color: white;
height: 100%;
    width: 100%;

    padding-top: 2rem;
   
    border-radius: 15px;
}


.special-bg p {
    text-align: justify;
    padding: 1em;
}


.EstateSolution,
.sales {
    background-color: #30C9E9;
    color: white;
    border-radius: 15px;
    margin-top: 1em;
    padding: 18px;
    text-align: justify;
    width: 100%;
  
}

.EstateSolution ul {
    text-align: left;
}

ul {
    list-style-type: circle;
}
.flex-box {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 1;
}
.training {
    margin: 2em;
      color: #C3C4C8;;
}
.training-bg p{
    text-align: justify;
    padding: 1em;
}
.training h4 {
    text-align: center;
    font-family: fantasy;
color: #FE442D;
    padding-top: 2em;
}

.training h6 {
    text-align: center;
}
.training h5 {
    text-align: center;
    color:#30C9E9;
}
.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.training-btn {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.training-btn:hover {
    color: #0d0d0de5;
}

.training-bg {
    background-color: white;
    color: #0D0D0D;
    border-radius: 0.5em;

    margin-bottom: 1em;
}
.training-bg:hover {
    background-color: #F8F8FA;
}
.traning-header {
    border-radius: 0.5em;
    height: 100%;
    background-color:#30C9E9;
}
.traning-header h4 {
    color: white;
    font-weight: 100;
}
ul {
    text-align: center;
}
ul li {
    display: block;
}
.display-4{
    color: #FE442D;
}

@media screen and (max-width: 1040px) {
    .training-bg p {
        font-size: small;
    }
}

@media screen and (max-width: 767px) {
    .training-bg p {
        font-size: medium;
    }
    .traning-header h4 {
        font-size: medium;
    }
}

/* about us */

/*Gallery*/
.photo-speaks{
    text-align: center;    color: #C3C4C8;
}

/* contact us  */
.contact {
    background: #30C9E9;
    color: #f8f9fa;
}
.contact-hr {
    color: #f8f9fa;
    background: #f8f9fa;
}

.contact-btn {
    background: #30C9E9;
    color: #f8f9fa;
    margin-top: 2rem;
    width: 150px;
}

.contact-btn:hover,
:focus {
    background: #33d5f5;
    color: #f8f9fa;
}

/*  Testimonial  */

.team {
    margin-left: auto;
    margin-right: auto;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
:focus {
    /* background: #ddd; */
    text-decoration: none;
    /* color: #555; */
}

/*  Testimonial  */

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #f8f9fa;
}
.title {
    text-align: center;
    margin-bottom: 4rem;
}
.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 80vw;
    max-width: var(--fixed-width);
}
.review {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
    margin: 0 auto;
    width: 70%;
    text-align: justify;
}
.review:hover {
    box-shadow: var(--dark-shadow);
}
.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
#person-img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}


#author {
    margin-bottom: 0.25rem;
}
#job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
}
#info {
    margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
    color: var(--clr-primary-5);
}
.random-btn {
    margin-top: 0.5rem;
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    border-color: var(--clr-primary-5);
    cursor: pointer;
}
.random-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
}

/* footer  */
.email {
    width: 280px;
}
.icon{
    width: 60px !important;
    height: 60px;
    align-items: center;
}
.icon-sp{
    width: 60px !important;
    height: 40px;
}
@media screen and (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } 
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
    .hidden-lg{
        display: none;
    }
}
@media screen and (max-width: 768px) {
 
    .hidden-sm{
        display: none;
    }
    .review{
        width: 100%;
    }
}
